@{
  ViewData["Title"] = "Sample Query";
}
<h1>It works either!</h1>
@ViewData["Title"]

<hr />

@Model.Identity.Name

@section Scripts{
<h1>
  <address>Yes! A sitemap please!</address>
</h1>
}
